:root {
  --yellow: #ffcf17;
  --orange: #ffb90d;
  --pruple: #7024dc;
  --pruple2: #543895;
  --red: #ff3a25;
  --green: #37ab43;
}

#root,
html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  color: var(--pruple2);
  background-color: var(--yellow);
  font-family: "Bebas Neue", sans-serif;
}

p {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
}

#pdfUpload {
  display: none;
}

.MuiButton-root {
  color: var(--pruple2) !important;
}

.MuiButton-outlinedPrimary {
  color: var(--pruple2) !important;
  border: 1px solid var(--pruple2) !important;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.introTextDiv {
  position: absolute;
  top: 10%;
  height: 300px;
}

.introTextDiv > img:nth-child(1) {
  height: 300px;
}

.introBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glassBox {
  display: flex;
  padding: 10%;
  background: rgba(255, 185, 13, 0.76);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid var(--yellow);
}

.viewWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 5px;
  cursor: pointer;
}

.MuiSnackbarContent-root {
  background-color: var(--pruple) !important;
}

.disabled {
  background-color: grey;
  pointer-events: none;
}

.backButton {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--pruple);
}
